# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebooks
.ipynb_checkpoints/
.ipynb_out/

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# Databricks artifacts
.databricks/
*.dbc
*.dbarchive

# Pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
*.whl

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets (if you ever use dotenv)
.env

# Generated template outputs (optional)
bronze_templates/
silver_templates/

# Local workflow runners
/workflows/
