# requirements.txt
pandas
numpy
fastavro
fsspec
pyarrow
azure-storage-blob
pyspark
pyodbc
iapws
nbformat
ipywidgets
databricks-sdk
psychrolib
adlfs
markdown

# Optional: add dev tools at the bottom
pytest
black
mypy
